
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #FAF7F0; */
  --background: white;
  --card-background: #e7ded6;
  --card-color: #f3f4f6;
  --foreground: #171717;
  --primary-color: #4A4947; 
  --milk-color: #e6e0cd;
  /* --secondary-color: #D8D2C2; */
  --third-color: #706a5f;
  --btn-color: #B17457;
  --border-color: #171717;
  --text-color: #f1f1f1;
} 

body {
  background: var(--background);
  color: var(--primary-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.primary-color {
  color: var(--primary-color);
}
.bg-primary-color {
  background-color: var(--primary-color);
}
.card-color {
  color: var(--card-background);
}
.bg-card-color {
  background-color: var(--card-background);
}
.bg-card-bg {
  background-color: var(--card-color);
}
.milk-color- {
  color: var(--milk-color);
}
.bg-milk-color {
  background-color: var(--milk-color);
}
.btn-color {
  color: var(--btn-color);
}
.bg-btn-color {
  background-color: var(--btn-color);
}

.fix-height {
  min-height: calc(100vh - 335px);
}



.brown {
  color: #B17457;
}

.milk {
  color: #c4a484;
}

.back {
  background-color: #faf6ed;
}

.oil {
  background-color: #d8d2c2;
}

.orange {
  color: #ffab57;
}