@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #FAF7F0; */
  --background: white;
  --card-background: #e7ded6;
  --card-color: #f3f4f6;
  --foreground: #171717;
  --primary-color: #4a4947;
  --milk-color: #e6e0cd;
  /* --secondary-color: #D8D2C2; */
  --third-color: #706a5f;
  --btn-color: #b17457;
  --border-color: #171717;
  --text-color: #f1f1f1;
}

body {
  background: var(--background);
  color: var(--primary-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.primary-color {
  color: var(--primary-color);
}
.bg-primary-color {
  background-color: var(--primary-color);
}
.card-color {
  color: var(--card-background);
}
.bg-card-color {
  background-color: var(--card-background);
}
.bg-card-bg {
  background-color: var(--card-color);
}
.milk-color- {
  color: var(--milk-color);
}
.bg-milk-color {
  background-color: var(--milk-color);
}
.btn-color {
  color: var(--btn-color);
}
.bg-btn-color {
  background-color: var(--btn-color);
}

.fix-height {
  min-height: calc(100vh - 335px);
}

.cart-height {
  min-height: calc(100vh - 245px);
}

.chat-height {
  min-height: calc(100vh - 46px);
}

.pad-top {

}
.brown {
  color: #b17457;
}

.milk {
  color: #c4a484;
}

.back {
  background-color: #faf6ed;
}

.oil {
  background-color: #d8d2c2;
}

.orange {
  color: #ffab57;
}


/* Custom Scrollbar Styles */
.messages-container {
  scrollbar-width: thin;
  scrollbar-color: var(--btn-color) transparent;
}

.messages-container::-webkit-scrollbar {
  width: 8px;
}

.messages-container::-webkit-scrollbar-track {
  background: var(--bg-color-bg);
  border-radius: 4px;
}

.messages-container::-webkit-scrollbar-thumb {
  background-color: var(--btn-color);
  border-radius: 4px;
}

.messages-container::-webkit-scrollbar-thumb:hover {
  background-color: #2563eb;
}


/* Masonry Grid Styles */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if you use grid instead */
  display: -ms-flexbox;
  display: flex;
  margin-left: -32px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 32px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 16px;
}

/* ============================ */
.animated-border-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  z-index: 2;
}

.animated-border-card:hover {
  transform: scale(1.02);
}

.animated-border-card::after,
.animated-border-card::before {
  content: "";
  position: absolute;
  /* background: #b17457; */
  height: 20%;
  width: 15%;
  bottom: 50%;
  pointer-events: none;
  transform: translate(-50%, 0%);
  z-index: -1;
  background: #4a4947;
}

/* Left Half Stroke */
.animated-border-card::before {
  left: 50%;
  transform-origin: left bottom;
}

.animated-border-card::after {
  left: 50%;
  transform-origin: left bottom;
  transform: rotate(180deg);
}

/* Hover Animation Trigger */
.animated-border-card:hover::before {
  animation: borderRightTrace1 2s linear;
  animation-iteration-count: infinite;
}

.animated-border-card:hover::after {
  animation: borderRightTrace 2s linear;
  animation-iteration-count: infinite;
}

/* Right Border Stroke Animation */
@keyframes borderRightTrace {
  0% {
    transform: rotate(180deg);
    /* width: 10%; */
    height: 200%;
  }
  25% {
    height: 200%;
    /* width: 150%; */
    transform: rotate(270deg);
  }
  50% {
    height: 200%;
    /* width: 150%; */
    transform: rotate(360deg);
  }
  75% {
    height: 200%;
    /* width: 150%; */
    transform: rotate(450deg);
  }
  100% {
    height: 200%;
    /* width: 150%; */
    transform: rotate(540deg);
  }
}

@keyframes borderRightTrace1 {
  0% {
    transform: rotate(0deg);
    /* width: 10%; */
    height: 400%;
  }
  25% {
    height: 400%;
    /* width: 150%; */
    transform: rotate(90deg);
  }
  50% {
    height: 400%;
    /* width: 150%; */
    transform: rotate(180deg);
  }
  75% {
    height: 400%;
    /* width: 150%; */
    transform: rotate(270deg);
  }
  100% {
    height: 400%;
    /* width: 150%; */
    transform: rotate(360deg);
  }
}
